<header class="top-band">
  <div class="logo">
    <span class="logo-text">Task Management</span>
  </div>

  @if (email()) {
    <div class="user-section">
      <p class="user-info">Logged in as: <span class="username-highlight">{{ email() }}</span></p>
      <button type="button" class="btn-logout" (click)="onLogout()">Logout</button>
    </div>
  }
</header>

@if (email()) {
<nav>
  <a routerLink="/home">Home</a>
  <a routerLink="/my-tasks">My Tasks</a>
  <a routerLink="/search">Search</a>
  <a routerLink="/new-task">New Task</a>
</nav>
}

<router-outlet></router-outlet>