<header class="top-band">
  <div class="logo">
    <span class="logo-text">Task Management</span>
  </div>

  @if (authState.email()) {
  <div class="user-section">
    <p class="user-info">Logged in as: <span class="username-highlight">{{ authState.email() }}</span></p>
    <button type="button" class="btn-logout" (click)="onLogout()">Logout</button>
  </div>
  }
</header>

@if (authState.email()) {
<nav>
  <a routerLink="/home">Home</a>
  <a routerLink="/my-tasks">My Tasks</a>
  <a routerLink="/my-projects">My Projects</a>
  <a routerLink="/search">Search</a>
  <a routerLink="/new-task">New Task</a>
  @if (authState.role() === "ADMIN") {
  <a routerLink="/new-project">New Project</a>
  <a routerLink="/all-projects">Projects</a>
  <a routerLink="/admin-dashboard">Admin Dashboard</a>
  }
</nav>
}

<router-outlet></router-outlet>