<div class="task-card">
    <div class="task-header">
        <h3 class="task-title">{{ task.taskName }}</h3>
        <div class="header-actions">
            <span class="status-badge">{{ task.statusName }}</span>
            <button class="manage-btn" (click)="openDetailModal()">
                <mat-icon>edit</mat-icon>
            </button>
        </div>
    </div>

    <div class="task-body">
        <div class="info-group">
            <span class="label">Project</span>
            <span class="value">{{ task.projectName }}</span>
        </div>

        <div class="info-group">
            <span class="label">Due Date</span>
            <span class="value">{{ task.dueDate }}</span>
        </div>

        <div class="info-group">
            <span class="label">Assignee to</span>
            <span class="value">{{ task.username }}</span>
        </div>
    </div>

    @if (role()==="ADMIN"){
    <div class="task-footer">
        <button class="delete-btn" (click)="onDeleteClick()">
            <mat-icon>delete</mat-icon>
        </button>
        <button (click)="openEditTaskModal(task)">Edit</button>
    </div>
    }

</div>

@if (showModal()) {
<app-task-detail-modal [task]="task" (closeModal)="closeDetailModal()" (taskUpdated)="onTaskUpdated($event)">
</app-task-detail-modal>
}