<div class="task-card">
    <div class="task-header">
        <h3 class="task-title">{{ task.taskName }}</h3>
        <span class="status-badge">{{ task.statusName }}</span>
    </div>

    <div class="task-body">
        <div class="info-group">
            <span class="label">Due Date</span>
            <span class="value">{{ task.dueDate }}</span>
        </div>

        <div class="info-group">
            <span class="label">Assignee to</span>
            <span class="value">{{ task.username }}</span>
        </div>
    </div>

    <div class="task-footer">
        <button class="delete-btn" (click)="onDeleteClick()">
            <!-- Iconita cos -->
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <polyline points="3 6 5 6 21 6"></polyline>
                <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                <line x1="10" y1="11" x2="10" y2="17"></line>
                <line x1="14" y1="11" x2="14" y2="17"></line>
            </svg>
        </button>
        <button (click)="openEditTaskModal(task)">Edit</button>
    </div>
</div>